{% extends '::baseAdmin.html.twig' %}

{% block title %}{{parent()}} - Mailing{% endblock %}



{% block body %}

<h3>Gestion des administrateurs de RezoSup</h3>

{% if app.session.hasFlash('notice') %}
    <div class="flash">
        {{ app.session.flash('notice') }}
    </div><br/>
{% endif %}

<table id="admin_list" class="table table-hover">
	<tr>
		<th>Id</th>
		<th>User</th>
		<th>email</th><th>Serveur</th>
		<th>Mailing</th><th>Oper</th>
		<th>Admin</th>
		<th>Action</th>
	</tr>
{% for entry in admins%}
		<tr>
		<td>{{entry.id}}</td>
		<td>{{entry.user}}</td>
		<td>{{entry.email}}</td>
		<td>{{entry.associatedUser.serveur.serveur}}</td>
		<td>{% if is_granted("ROLE_OPER")%}<a href="#" onClick="changeAccess({{entry.id}},1,this)">{% endif %}{%if entry.mailing ==1 %}1{% else %} 0{% endif %}{% if is_granted("ROLE_OPER") %}</a>{% endif %}</td>
		<td>{% if is_granted("ROLE_ADMIN")%}<a href="#" onClick="changeAccess({{entry.id}},2,this)">{% endif %}{%if entry.oper ==1 %}1{% else %} 0{% endif %}{% if is_granted("ROLE_ADMIN") %}</a>{% endif %}</td>
		<td>{% if is_granted("ROLE_ADMIN") %}<a href="#" onClick="changeAccess({{entry.id}},3,this)">{% endif %}{%if entry.admin ==1 %}1{% else %} 0{% endif %}{% if is_granted("ROLE_ADMIN") %}</a>{% endif %}</td>
		<td class="action">{% if is_granted('ROLE_ADMIN') or user.username==entry.user %} <a onClick="getAdmin({{entry.id}})" href="#">Éditer</a> - <a onClick="delAdmin({{entry.id}})" href="#">Supprimer</a> - <a onClick="createAlias({{entry.id}})" href="#">Créer un alias</a> {% endif %}</td>
	</tr>
	
	{% for alias in aliases %}
		
		{% if alias.alias == entry.id %}
			<tr>
				<td></td>
				<td class="aliasUser">{{alias.user}}</td>
				<td colspan=5>Alias</td>
				<td class="action">{% if user.username == entry.user or is_granted('ROLE_ADMIN') %} <a onClick="delAdmin({{alias.id}})" href="#">Supprimer</a>{% endif %}</td>
			</tr>
		{% endif %}

	{%  endfor %}
	
{% endfor %}

</table>

<div class="bs-docs" id="form_div" style="{% if not (is_granted("ROLE_ADMIN")) %}display:none{% endif %}">
<h4><a href="#" id="title" onclick="$('#addForm').toggle()"> Ajouter un utilisateur</a></h4>



<form id="addForm" style="display:none" action="{{ path('createAdmin') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    
    <input type="hidden" id="userId" name="userId" value="-1">
    <input class="btn" value="Envoyer" type="submit" />
</form>
</div>

<div class="bs-docs" id="password_div">
<h4><a href="#" id="PassTitle" onclick="$('#changePassForm').toggle()"> Changer de mot de passe</a></h4>



<form id="changePassForm" style="display:none" action="{{ path('changePass') }}" method="post" {{ form_enctype(form) }}>
    
    {{ form_row(passForm.password,{'label': 'Ancien Mot de passe : '}) }}
    {{ form_row(passForm.newPass,{'label': 'Nouveau mot de passe : '}) }}
    
    {{ form_rest(passForm) }}
    
    <input type="hidden" id="userId" name="userId" value="-1">
    <input class="btn" value="Envoyer" type="submit" />
</form>
</div>

{% endblock %}
