{% extends '::baseAdmin.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock %}

{% block body %}
<h3>Poster une news</h3>

<div class="bs-docs">
	<form action="{{ path('news_post_process',{'newsId' : newsId}) }}" method="post" {{ form_enctype(form) }}>
		{{ form_row(form.title,{'label': 'Titre : ', 'attr' : {'class':'input-xxlarge'}}) }}   
		{{ form_row(form.text,{'label': 'Contenu : ', 'attr' : {'class':'input-xxlarge', 'rows':'8'}}) }}   

		 {{ form_rest(form) }}

		<input class="btn" value="Envoyer" type="submit" />
	</form>
</div>
{% endblock %}
